/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:#0A2853;
    display: flex;
    justify-content: center;
}

  /* Wrapper Styles */
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

  /* Container Styles */
.container {
    width: 55%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.top-section {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between; /* Align items with equal space between them */
    align-items: center;
    
}


/* Logo Section Styles */
.logo-section {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 35%;
}

.logo-section img {
    max-width: 100%;
    height: auto;
}
.sponsor-logo {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 40%;
    padding-top: 25px;
}
.sponsor-logo img{
    max-width: 100%;
    height: auto;
}
  /* Text Section Styles */
.text-section {
    margin-bottom: 20px;
}

/* Navbar Styles */
.separator {
    width: 100%; /* Make the separator fill the width */
    background-color: #393E46; /* Set background color */
    color: white; /* Set text color */
    padding: 0px 10px; /* Add padding top and bottom */
    border-radius: 2px;
}

.separator p {
    margin: 0; /* Remove default margins */
    font-size: 18px; /* Set font size */
    font-weight: bold; /* Set font weight */
    padding-left: 20px; /* Add padding to the left */
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

.top-menu p {
    margin: 0; /* Remove default margins */
    font-size: 18px; /* Set font size */
    font-weight: bold; /* Set font weight */
    padding: 10px 20px; /* Add padding */
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}




.text-section h3{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 10px 30px 0px 30px;
}
.information-container {
    /* Add styles for the information container here */
    background-color: #f0f0f0; /* Set background color */
    padding: 100px; /* Add padding */
    margin: 20px;
    border-radius: 10px; /* Add border radius */

}

/* Additional Info Container Styles */
.info-container {
    margin-top: 20px; /* Add some space between information container and additional info container */
}

/* Buttons Styles */
.buttons {
    display: flex;
    justify-content: center;
}
#courseText {
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font family */
    margin-top: -30px; /* Place the text 20% from the top of the container */
    margin-bottom: 80px; /* Place the text 80% from the bottom of the container */
}

.button {
    padding: 15px 30px; /* Increase padding for a bigger button */
    background-color: #43766C; /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Increase border radius for a more rounded shape */
    cursor: pointer; /* Add cursor pointer */
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font family */
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line if necessary */
    justify-content: center;
    text-decoration: none;
    
}


.button:hover {
    background-color: #0056b3; /* Darker background color on hover */
}

#summer{
    padding: 15px 25px;
    font-size: 16px;
    background-color: #FEB941;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}
#summer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/summer.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0; 
}
#summer:hover::after {
    opacity: 0.5; /* Adjust the opacity to control the frosting effect */
}

.button:nth-child(2) {
    margin-left: 80px; /* Adjust the margin between buttons */
}

.bottomSection{
    display: flex;
    justify-content: flex-start;
    padding: 5px 50px;
    max-width: 100%;
}


#winter {
    padding: 15px 25px;
    font-size: 16px;
    background-color: #2D9596;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1; /* Ensure button text remains above the frosty overlay */
    font-weight: bold;
    
}

#winter::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/frosting.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0; /* Ensure the frosty overlay stays below the button text */
}

#winter:hover::after {
    opacity: 0.5; /* Adjust the opacity to control the frosting effect */
}


/* Sponsors Section Styles */
.sponsors-section {
    display: flex;
    justify-content: center;
    padding: 20px 50px;
}


  /* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    .container {
    width: 80%;
    padding: 20px;
    }
}